---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}
<BR>
<p><strong style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 15px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: baseline; color: #4c4c4c; line-height: 24px;">CONFERENCES AND WORKSHOPS</strong></p>
<ol class="ol1" style="line-height: 19.6000003814697px;">
<li class="li3"><a href="https://dl.acm.org/doi/10.1145/3626772.3657834" target="_blank"><em>The Power of Noise: Redefining Retrieval for RAG Systems, </em></a>Florin Cuconasu, Giovanni Trappolini, Federico Siciliano, Simone Filice, Cesare Campagnano, Yoelle Maarek, Nocola Tonellotto, and Fabrizio Silvestri. Proceedings of SIGIR'24, July 2024, Washington DC, USA.</li>
<li class="li3"><em><a href="https://dl.acm.org/doi/10.1145/3626772.3657935" target="_blank">Old IR meets RAG</a></em>,&nbsp;Oz Huly, Idan Pogrebunsky, David Carmel, Oren Kurland and Yoelle Maarek. Short Paper in Proceedings of SIGIR'24, July 2024, Washington DC, USA.</li>
<li class="li3"><em>Extended conversion: Capturing successful interactions in voice shopping,</em> Elad Haramaty, Zohar Karnin, Arnon Lazerson, Liane Lewin-Eytan and Yoelle Maarek. RecSys&rsquo;2023, Sept 2023, Singapore.</li>
<li class="li3"><em>Alexa, Do You Want to Build a Snowman? Characterizing Playful Requests to Conversational Agents</em>, Chen Shani, Alexander Libov, Sofia Tolmach, Liane Lewin-Eytan, Yoelle Maarek and Dafna Shahaf. In Proceedings of CHI EA &lsquo;22, April 2022, New Orleans, LA, USA.</li>
<li class="li3"><em>Why Do People Buy Seemingly Irrelevant Items in Voice Product Search?</em> David Carmel, Elad Haramaty, Arnon Lazerson, Liane Lewin-Eytan and Yoelle Maarek. In Proceedings of WSDM&rsquo;2020, Houston, TX, Jan 2020</li>
<li class="li3"><em>Alexa, Can You Help Me Shop?</em> Yoelle Maarek. Invited talk in Industry Track.&nbsp; In Proceedings of SIGIR'2019, July 2019, Paris, France</li>
<li class="li3"><em>Alexa and her Shopping Journey</em>, Keynote Address, Yoelle Maarek. In Proceedings of CIKM&rsquo;2018, Turin, Italy, October 2018.</li>
<li class="li3"><em>Leveraging Crowdsourcing Data For Deep Active Learning An Application: Learning Intents in Alexa,</em>&nbsp;Jie Yang, Thomas Drake, Andreas Damianou and Yoelle Maarek.&nbsp;In Proceedings of The Web Conference (formerly WWW) 2018, Lyon, France, April 2018.</li>
<li class="li3"><em>Mail Search: It&rsquo;s Getting Personal,&nbsp;</em>Yoelle Maarek. Keynote Address. In Proceedings of SIGIR'2017, Tokyo, Japan, August 2017.</li>
<li class="li3"><em>Mailbox-Based vs. Log-Based Query Completion for Mail Search,&nbsp;</em>Michal Horovitz, Liane Lewin-Eytan, Alexander Libov, Yoelle Maarek and Ariel Ravi. In Proceedings of SIGIR'2017, (short paper), Tokyo, Japan, August 2017.</li>
<li class="li3"><em><a href="http://papers.www2017.com.au.s3-website-ap-southeast-2.amazonaws.com/proceedings/p5.pdf">Web Mail is Not Dead: It&rsquo;s Just Not Human Anymore!</a>&nbsp;</em>Yoelle Maarek. Keynote address at WWW'2017, Perth, Australia, April 2017.</li>
<li class="li3"><em><a href="http://papers.www2017.com.au.s3-website-ap-southeast-2.amazonaws.com/proceedings/p1551.pdf">P</a><a href="http://papers.www2017.com.au.s3-website-ap-southeast-2.amazonaws.com/proceedings/p1551.pdf">romoting Relevant Results in Time-Ranked Mail Search</a>,</em>&nbsp;David Carmel, Liane Lewin-Eytan, Alex Libov, Yoelle Maarek and Ariel Raviv. In Proceedings of WWW 2017, Perth, Australia, April 2017.</li>
<li class="li3"><em><a href="http://papers.www2017.com.au.s3-website-ap-southeast-2.amazonaws.com/proceedings/p1541.pdf">The Demographics of Mail Search and their Application to Query Suggestion</a></em>, David Carmel, Liane Lewin-Eytan, Alex Libov, Yoelle Maarek and Ariel Raviv.&nbsp;In Proceedings of&nbsp;WWW 2017, Perth, Australia, April 2017.</li>
<li class="li3"><em><a href="http://dl.acm.org/authorize?N24481" title="Structural Clustering of Machine-Generated Mail">Structural Clustering of Machine-Generated Mail</a></em>, Noa Avigdor-Elgrabli, Mark Cwalinski, Dotan Di Castro, Iftah Gamzu, Irena Grabovitch-Zuyev, Liane Lewin-Eytan and Yoelle Maarek.&nbsp;In Proceedings of&nbsp;CIKM'2016, Indianapolis, IN, Oct 2016.</li>
<li class="li3"><em><a href="http://dl.acm.org/authorize?N24482">One Query, Many Clicks: Analysis of Queries with Multiple Clicks by the Same User</a>,&nbsp;</em>Elad Kravi, Ido Guy, Avihai Mejer, David Carmel, Yoelle Maarek, Dan Pelleg and Gilad Tsur. In Proceedings of&nbsp;CIKM'2016, Indianapolis, IN, Oct 2016.</li>
<li class="li3"><em><a href="http://dl.acm.org/authorize?N24484">Enforcing k-anonymity in Web mail auditing</a>,&nbsp;</em>Dotan Di Castro, Liane Lewin Eytan, Yoelle Maarek, Ran Wolff and Eyal Zohar. In Proceedings of&nbsp;WSDM'2016, San Francisco, CA, Feb 2016.&nbsp;</li>
<li class="li3"><a href="http://dl.acm.org/authorize?N24483"><em>You&rsquo;ve got mail, and here is what you could do with it! Analyzing and predicting actions on email messages</em></a>. Dotan Di Castro, Liane Lewin Eytan, Yoelle Maarek and Zohar Karnin. In Proceedings of&nbsp;WSDM'2016, San Francisco, CA, Feb 2016.&nbsp;</li>
<li class="li3"><em><a href="http://dl.acm.org/authorize?N24496">Rank by time of by relevance? Revisiting Email Search</a>,&nbsp;</em>David Carmel, Guy Halawi, Liane Lewin-Eytan, Yoelle Maarek and Ariel Raviv. In Proceedings of&nbsp;CIKM'2015, Melbourne Australia, Oct 2015.</li>
<li class="li3"><em><a href="http://dl.acm.org/authorize?N24497">You Will Get Mail! Predicting the Arrival of Future Email</a>,&nbsp;</em>Iftah Gamzu, Zohar Shay Karnin, Yoelle Maarek and David Wajc,. TempWeb 2105, In Proceedings of&nbsp;WWW&rsquo;2015 Companion volume, Florence Italy, May 2015.</li>
<li class="li3"><em><a href="http://dl.acm.org/authorize?N24498">How many folders do you really need? Classifying email into a handful of categories</a>,&nbsp;</em>Mihajlo Grbovic, Guy Halawi, Zohar Karnin and&nbsp;Yoelle Maarek.&nbsp;&nbsp;In Proceedings of&nbsp;CIKM&rsquo;2014, Shanghai, China, Nov 2014.&nbsp;</li>
<li class="li3"><em>Will my Question be Answered? Predicting &ldquo;Question Answerability&rdquo; in Community Question-Answering Sites,&nbsp;</em>Gideon Dror, Yoelle Maarek and Idan Szpektor.&nbsp;In Proceedings of&nbsp;ECML/PKDD 2013, Prague, Sept 2013.</li>
<li class="li3"><em><a href="http://dl.acm.org/authorize?N24499">From Query to Question in One Click: Suggesting Synthetic Questions to Searchers</a>,&nbsp;</em>Gideon Dror, Yoelle Maarek, Avihai Mejer and Idan Szpektor.&nbsp;&nbsp;In Proceedings of WWW&rsquo;2013, Rio de Janeiro</li>
<li class="li3"><em><a href="http://dl.acm.org/authorize?N24490">When Relevance is not Enough: Promoting Diversity and Freshness in Personalized Question Recommendation</a>,&nbsp;</em>Idan Szpektor, Yoelle Maarek and Dan Pelleg. In Proceedings of WWW&rsquo;2013,&nbsp;Rio de Janeiro, Brazil, May 2013,</li>
<li class="li3"><em><a href="http://dl.acm.org/authorize?N24491">Threading Machine Generated Email</a>,&nbsp;</em>Nir Ailon, Zohar S. Karnin, Edo Liberty and Yoelle Maarek.&nbsp;In Proceedings of&nbsp;WSDM&rsquo;2013, Rome, Italy, Feb 2013.</li>
<li class="li3"><em>Can you believe an anonymous contributor? On truthfulness in Yahoo! Answers,&nbsp;</em>Dan Pelleg, Elad Yom-Tov and Yoelle Maarek. In Proceedings of&nbsp;SocialCom&rsquo;2012, Amsterdam, The Netherlands, Sep 2012.</li>
<li class="li3"><em><a href="http://dl.acm.org/authorize?N24492">When Web Search Fails, Searchers Become Askers: Understanding the Transition</a></em>, Qiaoling Liu, Eugene Agichtein,Gideon Dror, Yoelle Maarek and Idan Szpektor.&nbsp;In Proceedings of SIGIR&rsquo;2012, Portland, OR, Aug 2012.&nbsp;</li>
<li class="li3"><em><a href="http://dl.acm.org/authorize?N24408">Learning from the past: answering new questions with past answers</a>,&nbsp;</em>Anna Shtok, Gideon Dror, Yoelle Maarek and &nbsp;Idan Szpektor.&nbsp;In Proceedings of WWW&rsquo;2012, Lyon, France, April 2012.</li>
<li class="li3"><em><a href="http://dl.acm.org/authorize?N24407">Automatically Tagging Email by Leveraging Other Users&rsquo; Folders</a>,&nbsp;</em>Yehuda Koren, Edo Liberty, Yoelle Maarek and Roman Sandler.&nbsp;In Proceedings of KDD&rsquo;2011, San-Diego, CA, Aug 2011.</li>
<li class="li3"><em><a href="http://dl.acm.org/authorize?N24406">I Want to Answer, Who Has a Question? Yahoo! Answers Recommender System</a>,&nbsp;</em>Gideon Dror, Yehuda Koren, Yoelle Maarek, Idan Szpektor.&nbsp;&nbsp;In Proceedings of KDD&rsquo;2011, San-Diego, CA, Aug 2011.</li>
<li class="li3"><em><a href="http://dl.acm.org/authorize?N24405">Predicting Web Searcher Satisfaction with Existing Community-based Answer</a>s,&nbsp;</em>Q. Liu, E. Agichtein, G. Dror, E. Gabrilovich, Y. Maarek, D. Pelleg and I. Szpektor.&nbsp;In Proceedings of SIGIR&rsquo;2011, Beijing, China, July 2011.</li>
<li class="li3"><em><a href="http://dl.acm.org/authorize?N24494">Improving recommendation for long-tail queries via templates</a>,&nbsp;</em>I. Szpektor, A. Gionis and Y. Maarek.&nbsp;In Proceedings of WWW&rsquo;2011, Hyderabad, India, April 2011.</li>
<li class="li3"><em><a href="http://dl.acm.org/authorize?N24493">Do you want to take notes?: identifying research missions in Yahoo! Search Pad</a>,&nbsp;</em>D. Donato, F. Bonchi, T. Chi and Y. Maarek,In Proceedings of WWW&rsquo;2010, Raleigh, NC, USA, May 2010 - Featured paper.</li>
</ol>
<p><strong style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 15px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: baseline; color: #4c4c4c; line-height: 24px;">JOURNAL ARTICLES, BOOK CHAPTERS</strong></p>
<ol class="ol1" style="line-height: 19.6000003814697px;">
<li class="li3"><em>The new frontier of Web Search Technology: Seven challenges,&nbsp;</em>R. Baeza-Yates, A. Broder and Y. Maarek. In Search and Computing, Trends and Development, S. Ceri and M. Brambilla (eds). LNCS 6585, Springer-Verlag, Berlin, 2011.</li>
<li class="li3"><em>Web Retrieval,&nbsp;</em>R. Baeza-Yates and Y. Maarek. In Modern Information Retrieval, 2nd edition, Baeza-Yates and Ribeiro-Neto eds., Addison-Wesley, February 2011. Chapter can be<a href="http://grupoweb.upf.es/WRG/mir2ed/pdf/chapter11.pdf"> downloaded</a> from the<a href="http://mir2ed.org/"> book site</a></li>
<li class="li3"><em>Cluster Ranking with an Application to Mining Mailbox Networks,&nbsp;Z. Bar-Yossef, I. Guy, R. Lempel, Y.S. Maarek, and V. Soroka.&nbsp;</em>Knowledge and Information Systems, Vol 15, Issue 1, December 2007. A previous version appeared at ICDM 2006 and received an Honorable mention for best application paper award.</li>
<li class="li3"><em>GURU: Information Retrieval for Reuse,&nbsp;Yoelle S. Maarek, Daniel M. Berry, and Gail E. Kaiser.&nbsp;&nbsp;</em>InLandmark Contributions in Software Reuse and Reverse Engineering, edited by P. Hall, Unicom Seminars, Ltd., 1994.&nbsp;</li>
<li class="li3"><em>An Information Retrieval Approach for Automatically Constructing Software Libraries,&nbsp;</em>Yoelle S. Maarek, D. M. Berry and G. E. Kaiser.&nbsp;IEEE Transactions on Software Engineering. 18:8, August 1991.</li>
</ol>
<p>For more papers, please check my <a href="http://yoelle.tumblr.com/fullpubs" title="Full list of publications" target="_blank">longer list of publications</a>.</p>




<!-- {% include base_path %} -->

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



